.dashup {
  --color-dashboard-white: #ffffff;
  --color-dashboard-border: #e2e8ee;
}

.dashup-summary {
  display: flex;
  flex-direction: row;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.dashup-dashboard {
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashup-widget {
  left: 0;
  right: auto;
  background-color: var(--color-dashboard-white);
  border: 1px solid var(--color-dashboard-border);
  border-radius: 4px;
  z-index: 2;
  overflow: hidden;
  transition: transform 0.15s;
}

.dashup-widget:hover .resizable-handle {
  opacity: 1;
}
.dashup-widget.draggable .draggable-handle {
  cursor: grab;
}
.dashup-widget.dragging .draggable-handle {
  cursor: grabbing;
}
.dashup-widget.dragging,
.dashup-widget.resizing {
  user-select: none;
  transition: none;
  z-index: 3;
}
.dashup-widget .title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}
.dashup-widget .draggable-handle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 32px;
  padding: 0 8px;
  border-bottom: 1px solid var(--color-dashboard-border);
  font-size: 12px;
  font-weight: 600;
}

.dashup-widget .resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  opacity: 0;
  cursor: se-resize;
  transition: opacity 0.15s ease;
}

.dashup-widget .dashboard-item-option {
  margin-right: 4px;
}

.dashup-widget .dashup-widget-remove--button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--color-dashboard-border);
  border-radius: 4px;
  cursor: pointer;
}

.widget-placeholder {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  opacity: 0.2;
  background-color: rgb(173, 213, 248);
  border: none;
  transition: none;
  z-index: 0;
  user-select: none;
  pointer-events: none;
}

.widget-placeholder.animated {
  transition: transform 0.1s, width 0.2s, height 0.2s;
}

.content {
  padding: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  user-select: none;
}
